body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Krasnodar";
  src: url("../../public/assets/fonts/KrasnodarGroteskTrial.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

.textName {
  font-family: "Krasnodar";
}
.mainComp {
  position: relative;
  height: 100vh;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
.row {
  margin: 20px 0;
  display: flex;
  height: auto;
  & > a {
    margin: 0 15px 0 0;
  }
}

.caseComp {
  position: relative;
  height: max-content;
  overflow-y: hidden;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgba(255, 255, 255, 4%);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overscroll-behavior-y: contain;
  @media screen and (min-width: 960px) {
    height: 100vh;
    padding: 120px 24px;
  }
}
